 <!DOCTYPE html>
<html>
    <body>
        <div style="background-color:#eee;padding:10px 20px;">
            <h2 style="font-family:Georgia, 'Times New Roman', Times, serif;color#454349;">customer has reched out</h2>
        </div>
        <div style="padding:20px 0px">
            <div style="background-color:#eee;padding:10px 20px;">
                <h3>customer details</h3>
                <ul>
                    <li>email: <b>{{email}}</b></li>
                    <li>first_name: <b>{{first_name}}</b></li>
                    <li>phone: <b>{{phone}}</b></li>
                    <li>State: <b>{{state}}</b></li>
                    <li>City: <b>{{city}}</b></li>
                    <li>Zip Code: <b>{{zip_code}}</b></li>
                    <li>company_name: <b>{{company_name}}</b></li>
                    <li>parcel_shipped_per_month: <b>{{parcel_shipped_per_month}}</b></li>
                    <li>shipping_software: <b>{{shipping_software}}</b></li>
                    <li>preferred_contact_time: <b>{{preferred_contact_time}}</b></li>
                    <li>how_did_you_hear_about_us: <b>{{how_did_you_hear_about_us}}</b></li>
                    <li>comments: <b>{{comments}}</b></li>
                </ul>
        </div>
    </body>
</html>