{% extends 'base/base.html' %}
{% load widget_tweaks %}


{% block title %}Welcome To AllinOneShip{% endblock %}
{% block content%} 
  <div class='bg-white rounded-lg md:p-8 dark:bg-gray-800 flex items-center justify-center flex-col'>
     <div class='text-center w-9/12 shadow-lg bg-gradient-to-r from-cyan-100 to-blue-200 py-8 lg:py-16 px-4'>
          <h2 class="mt-9 mb-4 text-2xl font-extrabold text-gray-600 ">Your email will remain secure and will not be given to any 3rd party's</h2>
          <p class=" font-medium text-gray-600 dark:text-gray-400">At Allin1ship, reserves the right to send follow-up emails to the email which is sent in any email exchange with us. </p>
                    <p class=" font-medium text-gray-600 dark:text-gray-400">It is unlikely but possible that Allin1ship will send marketing emails on rare occasions. </p>
     </div>
    
</div>
{% endblock content %}