{% extends 'base/base.html' %} {% block title %}Payment Canceled{% endblock %} {% block content %}


  <div class='flex flex-col items-center'>
    <h2 class="text-4xl font-extrabold mt-10">Payment Canceled</h2>
    {% comment %} <p class="my-4 text-lg text-gray-500"></span></p> {% endcomment %}
    <a href="{% url 'pricing_app:upload_breakdown' file_id %}" class="inline-flex items-center text-lg text-blue-600  hover:underline">
      Back to Checkout
      <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
    </a>
  </div>

{% endblock content%}
