{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block title %}Create Rate Card{% endblock %}

{% block content %}
<div class='flex justify-center w-full'>
    <form method="post" class='shadow-md p-6 rounded-lg w-5/6 mt-9' x-data=" {selectedOption: ''} ">
        <h3 class="block mb-6 text-lg font-medium text-gray-900 underline text-center">{{page_header}}</h3>
        {% csrf_token %}
        {% include 'includes/form_errors.html' with errors=create_rate_card_form.non_field_errors %}
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label for="{{create_rate_card_form.tier_rank.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900">Tier</label>
                {% render_field create_rate_card_form.tier_rank x-model="selectedOption" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"%}
            </div>
            {% include 'includes/form_errors.html' with errors=create_rate_card_form.first_name.tier_rank %}
            <div>
                <label for="{{create_rate_card_form.minimum_spend.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900">Minimum Spend Needed to qualify for tier</label>
                {% render_field create_rate_card_form.minimum_spend class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
            </div>
            {% include 'includes/form_errors.html' with errors=create_rate_card_form.minimum_spend.errors %}
            <div>
                <label for="{{create_rate_card_form.affective_date.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900">Effective Date</label>
                {% render_field create_rate_card_form.affective_date  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"  %}
            </div>
            {% include 'includes/form_errors.html' with errors=create_rate_card_form.affective_date.errors %}
            <div>
                <label for="{{create_rate_card_form.expiration_date.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900">Expiration Date</label>
                {% render_field create_rate_card_form.expiration_date  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"  %}
            </div>
            {% include 'includes/form_errors.html' with errors=create_rate_card_form.expiration_date.errors %}
            <div>
                <label for="{{create_rate_card_form.description.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                {% render_field create_rate_card_form.description  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="write a brief description" %}
                {% include 'includes/form_errors.html' with errors=create_rate_card_form.description.errors %}
            </div>
             {% include 'includes/form_errors.html' with errors=create_rate_card_form.description.errors %}
            <div x-show=" selectedOption == '4' ">
                <label for="{{create_rate_card_form.user.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900">Select user for this Custome tier</label>
                {% render_field create_rate_card_form.user  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"%}
            </div>
            {% include 'includes/form_errors.html' with errors=create_rate_card_form.user.errors %}
        </div>
        
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
    </form> 
</div>
{% endblock content %}