{% extends 'base/base.html' %}
{% load widget_tweaks %}


{% block title %}Shipping Quote{% endblock %}

{% block content %} 


<div class='rounded-lg md:p-8  flex items-center justify-center flex-col mb-4'>
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-700 md:text-5xl lg:text-6xl ">Shipping Quote</h1>
    <p class="mb-6  text-lg font-bold text-gray-500 lg:text-xl sm:px-16 xl:px-48">please fill out carfully as the data you inpout strongly affects the rates we can offer.</p>
    <form method="post" class='w-3/4 shadow-lg p-10'>
        {% csrf_token %}
        {% include 'includes/form_errors.html' with errors=quote_form.non_field_errors %}

        <div class="relative z-0 w-full mb-6 group">
            {% render_field quote_form.email  placeholder=" "  class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
            <label for="quote_form.email.id_for_label" class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
        </div>
        {% include 'includes/form_errors.html' with errors=quote_form.email.errors %}

    {% comment %} first and last name {% endcomment %}
    <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-6 group">
                {% render_field  quote_form.first_name placeholder=' ' class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
                <label for="quote_form.first_name.id_for_lable" class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
            </div>
            {% include 'includes/form_errors.html' with errors=quote_form.first_name.errors %}
            <div class="relative z-0 w-full mb-6 group">
                {% render_field  quote_form.last_name placeholder=' ' class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"%}
                <label for="quote_form.last_name.id_for_lable" class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
            </div>
            {% include 'includes/form_errors.html' with errors=quote_form.last_name.errors %}
    </div>
    {% comment %} Phone and company {% endcomment %}
    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            {% render_field  quote_form.phone placeholder=' ' class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
            <label for="quote_form.phone.id_for_lable" class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone number (123-456-7890)</label>
        </div>
        {% include 'includes/form_errors.html' with errors=quote_form.phone.errors %}
        <div class="relative z-0 w-full mb-6 group">
            {% render_field  quote_form.company_name placeholder=' ' class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"%}
            <label for="quote_form.company_name.id_for_label" class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Company name</label>
        </div>
        {% include 'includes/form_errors.html' with errors=quote_form.company_name.errors %}
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            {% render_field  quote_form.zip_code placeholder=' ' class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
            <label for="quote_form.zip_code.id_for_lable" class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Zip Code</label>
        </div>
        {% include 'includes/form_errors.html' with errors=quote_form.phone.errors %}
        <div class="relative z-0 w-full mb-6 group">
            {% render_field  quote_form.city placeholder=' ' class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"%}
            <label for="quote_form.city.id_for_label" class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">City</label>
        </div>
        {% include 'includes/form_errors.html' with errors=quote_form.company_name.errors %}
    </div>
    {% comment %} questions options {% endcomment %}
    <div class="grid md:grid-cols-3 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <label for="quote_form.parcel_weight.id_for_label" class=" text-gray-500 peer-focus:text-blue-600">Avarage parcel weight</label>
            {% render_field quote_form.parcel_weight class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300  appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
        </div>
        <div class="relative z-0 w-full mb-6 group">        
           <label for="quote_form.parcel_shipped_per_month.id_for_label" class=" text-gray-500 peer-focus:text-blue-600">Shipments Per Month</label>
            {% render_field quote_form.parcel_shipped_per_month class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300  appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
        </div>
        <div class="relative z-0 w-full mb-6 group">        
           <label for="quote_form.state.id_for_label" class=" text-gray-500 peer-focus:text-blue-600">State</label>
            {% render_field quote_form.state class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300  appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
        </div>
    </div>

    <div class="relative z-0 w-full mb-6 group">
        <label for="quote_form.shipping_software.id_for_label" class=" text-gray-500 peer-focus:text-blue-600">Shipping Sofware</label>
        {% render_field quote_form.shipping_software class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
    </div>
    {% comment %} OPTINAL FEILDS {% endcomment %}
    <div class="inline-flex items-center justify-center w-full">
        <hr class="w-full h-px my-8 bg-gray-400 border-0">
        <span class="absolute px-4 font-medium text-gray-500 -translate-x-1/2 bg-gray-100 left-1/2  d">Optinal feilds</span>
    </div>
   
    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <div class="relative z-0 w-full mb-1 group">
            <label for="quote_form.preferred_contact_time.id_for_label" class="text-gray-500">Preferred Contact Time</label>
                {% render_field quote_form.preferred_contact_time class="bg-gray-50 border  border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
            </div>
            {% include 'includes/form_errors.html' with errors=quote_form.preferred_contact_time.errors %}
        </div>
        <div class="relative z-0 w-full mb-1 group">
           <label for="quote_form.how_did_you_hear_about_us.id_for_label" class="text-gray-500">How you heard out us</label>
            {% render_field quote_form.how_did_you_hear_about_us class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
        </div>
    </div>

    <div class="relative z-0 w-full mb-6 group">
        {% comment %} <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea> {% endcomment %}
        <label for="quote_form.comments.id_for_label" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comments</label>
        {% render_field quote_form.comments rows="3" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..." %}
    </div>
      {% include 'includes/form_errors.html' with errors=quote_form.comments.errors %}
    
    <div class="flex justify-center">
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/2  px-5 py-2.5 text-cente">Submit</button>
    </div>
</form>
</div>



{% endblock content%}