 <!DOCTYPE html>
<html>
    <body>
        <div style="background-color:#eee;padding:10px 20px;">
            <h2 style="font-family:Georgia, 'Times New Roman', Times, serif;color#454349;">customer has reched out</h2>
        </div>
        <div style="padding:20px 0px">
            <h2>customers email is: <span>{{email}}</span></h2>
            <h2>customers name is <span>{{name}}</span></h2>
            <div style="background-color:#eee;padding:10px 20px;">
                <h3>customers message</h3>
                <p>{{message}}</p>
            </div>
        </div>
    </body>
</html>